@charset "UTF-8";

@font-face {
    font-family: 'icomoon';
    src:  url('../font/icomoon.eot');
    src:  url('../font/icomoon.eot') format('embedded-opentype'),
        url('../font/icomoon.ttf') format('truetype'),
        url('../font/icomoon.woff') format('woff'),
        url('../font/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin movingBackground() {
    animation-name: rotateGrad;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    background-size: 300% 300%;
}

@mixin redGrad() {
    background: #bd4932;
    background: -moz-linear-gradient(-45deg, #bd4932 0%, #bc327c 100%);
    background: -webkit-linear-gradient(-45deg, #bd4932 0%,#bc327c 100%);
    background: linear-gradient(135deg, #bd4932 0%,#bc327c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd4932', endColorstr='#bc327c',GradientType=1 );
}

@mixin redGradRadial() {
    background: #bd4932;
    background: -moz-radial-gradient(center, ellipse cover, #bc327c 0%, #bd4932 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #bc327c 0%,#bd4932 100%);
    background: radial-gradient(ellipse at center, #bc327c 0%,#bd4932 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc327c', endColorstr='#bd4932',GradientType=1 );
    @include movingBackground();
}

@mixin blueGrad() {
    background: #32a8bd;
    background: -moz-linear-gradient(-45deg, #32a8bd 0%, #32bc6e 100%);
    background: -webkit-linear-gradient(-45deg, #32a8bd 0%,#32bc6e 100%);
    background: linear-gradient(135deg, #32a8bd 0%,#32bc6e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a8bd', endColorstr='#32bc6e',GradientType=1 );
}

@mixin blueGradRadial() {
    background: #32a8bd;
    background: -moz-radial-gradient(center, ellipse cover, #32bc6e 0%, #32a8bd 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #32bc6e 0%,#32a8bd 100%);
    background: radial-gradient(ellipse at center, #32bc6e 0%,#32a8bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32bc6e', endColorstr='#32a8bd',GradientType=1 );
    @include movingBackground();
}

@mixin yellowGrad() {
    background: #dba43a;
    background: -moz-linear-gradient(-45deg, #dba43a 0%, #d83a45 100%);
    background: -webkit-linear-gradient(-45deg, #dba43a 0%,#d83a45 100%);
    background: linear-gradient(135deg, #dba43a 0%,#d83a45 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dba43a', endColorstr='#d83a45',GradientType=1 );
}

@mixin yellowGradRadial() {
    background: #32a8bd;
    background: -moz-radial-gradient(center, ellipse cover, #d83a45 0%, #dba43a 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #d83a45 0%,#dba43a 100%);
    background: radial-gradient(ellipse at center, #d83a45 0%,#dba43a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d83a45', endColorstr='#dba43a',GradientType=1 );
    @include movingBackground();
}

@mixin greenGrad() {
    background: #32bd53;
    background: -moz-linear-gradient(-45deg, #32bd53 5%, #75bc32 100%);
    background: -webkit-linear-gradient(-45deg, #32bd53 5%,#75bc32 100%);
    background: linear-gradient(135deg, #32bd53 5%,#75bc32 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32bd53', endColorstr='#75bc32',GradientType=1 );
}

@mixin greenGradRadial() {
    background: #32a8bd;
    background: -moz-radial-gradient(center, ellipse cover, #d83a45 0%, #dba43a 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #d83a45 0%,#dba43a 100%);
    background: radial-gradient(ellipse at center, #d83a45 0%,#dba43a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d83a45', endColorstr='#dba43a',GradientType=1 );
    @include movingBackground();
}

%button {
    display: inline-block;
    padding: 10px;
    color: #fff;
    @include blueGrad();
    border-radius: 20px;
    min-width: 150px;
    text-align: center;
    box-shadow: 0 2px 15px #d2d2d2;
    transition: all 0.2s ease;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        color: #fff;
        border-radius: 100%;
        background-color: rgba(255,255,255,0);
        transition: width .4s ease, height .4s ease, left .4s ease, top .4s ease, border-radius .4s ease, background-color .4s ease;
    }
    &:hover {
        color: #fff;
        cursor: pointer;
        &::before {
            top: calc(50% - 100px);
            left: 0;
            width: 100%;
            height: 200px;
            border-radius: 0;
            background-color: rgba(255,255,255,0.1);
        }
    }
}

// colours
$red: #BD4932;
$red_lighter: #D65238;

$blue: #32a8bd;
$blue_lighter: #38bed6;

$green: #32bd53;
$green_lighter: #38d65d;

$yellow: #dba43a;
$yellow_lighter: #f5b540;

$white: #fff;
$bg: #f2f2f2;
$breadcrumb_bg: #eeeeee;
$footer_bg: #e2e2e2;
$text_colour: #545454;

// font stacks
$font_headings: 'Roboto Slab', sans-serif;
$font_condensed: 'Roboto Condensed', sans-serif;
$font_main: 'Roboto', sans-serif;

body {
    background: #f2f2f2;
    color: #545454;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
}

h1 {
    font-family: $font_headings;
    font-size: 50px;
    line-height: 1em !important;
    font-weight: bold;
}

h1 a {
    font-family: $font_headings;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-family: $font_headings;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

h2 a {
    font-family: $font_headings;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
}

h4 {
    font-size: 1.3em;
    font-weight: normal;
}

h5 {
    font-size: 1.2em;
    font-weight: bold;
}

h6 {
    font-size: 1.1em;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: $red;
    cursor: pointer;
    transition: color 0.28s ease;
}

a:hover {
    color: $blue;
}

p {
    line-height: 1.5em;
    font-size: 1em;
}

span.highlight {
    color: $red;
}

@keyframes rotateGrad {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 200% 0%;
    }
    50% {
        background-position: 200% 200%;
    }
    75% {
        background-position: 0% 200%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#header {
    padding: 0;
    margin: 0;
    background: transparent;
    line-height: 2em;
    margin: 0;
    max-width: 100%;
    position: relative;
    &.home {
        background: #bd4932;
    @include redGradRadial();
    background-size: 300% 300%;
    animation-name: rotateGrad;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    }
}

#header .headerSVG {
    display: block;
    width: 100%;
    height: 8vw;
    bottom: 0;
    position: absolute;
    z-index: 2;
}

@media (min-width: 770px) {
    #header.extendedheader {
        min-height: 100vh;
    }
}

@media (max-width: 769px) {
    #header.extendedheader {
        min-height: 100vh;
    }
}

.parallax-slider {
    background: #545454 url("../img/loading.gif") center no-repeat;
}

@media (min-width: 770px) {
    #header.extendedheader {
        text-shadow: 1px 1px 0px #212121;
        color: #fff;
    }
    #header.extendedheader a {
        text-shadow: 1px 1px 0px #212121;
        color: #fff;
    }
    #header.extendedheader #menu {
        background: transparent;
        width: 100%;
        z-index: 5;
    }
}

#title {
    margin: 0 auto;
    max-width: calc(100% - 100px);
    padding: 50px;
    padding-top: 100px;
}

#header h1 {
    color: $white;
}

#header p {
    font-size: 1.2em;
    color: $white;
    max-width: 400px;
}

img.scrollicon {
    opacity: 0.5;
}

#wrapper {
    width: 100%;
}

#mod1 {
    width: 100%;
    background: $bg;
}

#mod2 {
    width: 100%;
}

@media (max-width: 499px) {
    div.pull-quote {
        width: calc(100%);
        padding: 20px;
        @include blueGrad();
        color: $white;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 10px;
    }
}

@media (min-width: 500px) {
    div.pull-quote {
        width: calc(100%);
        padding: 50px;
        @include blueGrad();
        color: #fff;
        margin-left: -50px;
        margin-right: -50px;
        margin-bottom: 10px;
    }
}

div.pull-quote.red {
    @include redGrad();
}

div.pull-quote.yellow {
    @include yellowGrad();
}

@media (min-width: 902px) {
    div.pull-quote {
        border-radius: 20px;
    }
}

ul.breadcrumb {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    list-style: none;
    background: $breadcrumb_bg;
    border-radius: 100px;
    padding: 0;
    font-size: 12px;
}

ul.breadcrumb li {
    display: inline-block;
    padding: 10px;
    list-style: none;
    list-style-type: none;
}

.fcp_wrapper {
    width: 100%;
}

#contentwrapper {
    width: 100%;
    background: $bg;
}

@media (max-width: 499px) {
    #content {
        margin: 0 auto;
        max-width: calc(100% - 20px);
        padding: 20px;
    }
    ul.breadcrumb {
        display: none;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    #content {
        margin: 0 auto;
        max-width: calc(100% - 25px);
        padding: 50px;
    }
    ul.breadcrumb {
        display: none;
    }
}

@media (min-width: 800px) {
    #content {
        margin: 0 auto;
        max-width: calc(100% - 25px);
        padding: 50px 0;
    }
    .item-page {
        max-width: 900px;
        margin: 0 auto;
    }
    div.cols-3 {
        clear: both;
        overflow: auto;
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
        display: flex;
    }
    div.cols-3 div.span4 {
        max-width: calc(33% - 50px);
        padding: 0 15px;
        margin: 0 10px 20px 10px;
        display: inline-block;
        float: left;
        border-radius: 3px;
        box-shadow: 0 2px 15px #e2e2e2;
        background: #fff;
        text-align: center;
    }
    div.cols-2 {
        clear: both;
        overflow: auto;
        width: 1200px;
        margin: 0 auto;
        max-width: 100%;
        display: flex;
    }
    div.cols-2 div.span6 {
        max-width: calc(50% - 50px);
        padding: 0 15px;
        margin: 0 10px 20px 10px;
        display: inline-block;
        float: left;
        border-radius: 3px;
        box-shadow: 0 2px 15px #e2e2e2;
        background: #fff;
        text-align: center;
    }
    div.cols-1 {
        width: 900px;
        margin: 0 auto;
    }
}

article, .span6, .span12 {
    margin-bottom: 100px;
}

div.items-leading > div {
    margin-bottom: 100px;
}

div.category-desc {
    margin-bottom: 150px;
}

@media (max-width: 499px) {
    #header h1, div.category-desc h1, h1.page-header a, div.item-page div.page-header h2, span.subheading-category {
        font-family: $font_headings;
        font-size: 36px;
        line-height: 36px;
    }
}

@media (min-width: 500px) {
    #header h1, div.category-desc h1, h1.page-header a, div.item-page div.page-header h2, span.subheading-category {
        font-size: 72px;
        line-height: 72px;
    }
}

h2.entry-title a, h2.name {
    font-size: 1em;
    font-size: 36px;
    line-height: 36px;
}

#content img {
    max-width: 100%;
}

@media (max-width: 499px) {
    #content img.featured {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media (min-width: 500px) {
    #content img.featured {
        width: 100%;
        /*width:calc(100% + 100px);
         max-width:calc(100% + 100px);
         margin-left:-50px;
         margin-right:-50px;*/
    }
}

#features, #addons {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 499px) {
    #content div.columns, #features .feature {
        display: block;
        background: #e2e2e2;
        padding: 1px 20px;
        margin-bottom: 20px;
        border-radius: 3px;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    #content div.columns, #features .feature {
        max-width: calc(48% - 40px);
        margin: 0 1.5% 20px 0;
        vertical-align: top;
        display: inline-block;
        background: #e2e2e2;
        padding: 0 20px;
        border-radius: 3px;
    }
}

@media (min-width: 768px) {
    #content div.columns, #features .feature {
        max-width: calc(31% - 40px);
        margin: 0 1.8% 20px 0;
        vertical-align: top;
        display: inline-block;
        background: #e2e2e2;
        padding: 0 20px;
        border-radius: 3px;
    }
}

dl.article-info > * {
    display: inline-block;
    margin: 0 15px 0 0;
}

dt.article-info-term {
    display: none;
}

div.entry-meta, dl.article-info {
    padding: 10px 0;
    color: #aaa;
    font-size: 12px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
}

div.entry-meta > span, div.entry-meta > time, div.entry-meta > ul {
    padding: 0 5px 0 0;
    display: inline-block;
    margin: 0;
}

div.entry-meta ul li {
    display: inline-block;
    margin-right: 5px;
}

div.content_rating {
    display: inline-block;
    margin-right: 5px;
    color: #aaa;
    font-size: 12px;
}

div.content_rating > * {
    display: inline-block;
    margin-right: 5px;
    color: #aaa;
    font-size: 12px;
}

span.content_vote {
    display: inline-block;
    margin-right: 5px;
    color: #aaa;
    font-size: 12px;
}

span.content_vote > * {
    display: inline-block;
    margin-right: 5px;
    color: #aaa;
    font-size: 12px;
}

div.content_rating + form {
    display: inline-block;
    margin-right: 5px;
    color: #aaa;
    font-size: 12px;
}

ul.pagenav {
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.pagenav li {
    list-style-type: none;
    display: inline-block;
}

ul.pagenav li.next a:after {
    content: "»";
}

ul.pagenav li.previous a:before {
    content: "«";
}

div.pagination ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

div.pagination ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

div.pagination ul li:nth-child(1) {
    margin: 0 5px 0 0;
}

div.pagination ul li.pagination-next > *:after {
    content: "»";
}

div.pagination ul li.pagination-prev > *:before {
    content: "«";
}

#footer {
    background: #e2e2e2;
    width: calc(100% - 60px);
    padding: 30px;
    color: #aaa;
}

#footerwrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#footerwrapper p {
    padding: 0;
    margin: 0;
}

#footerwrapper h3 {
    color: #BD4932;
}

body.error {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}

#errorcontainer {
    width: 100%;
    height: 100%;
    padding: 60px 0;
}

#error {
    top: 60px;
    margin: 100px 30px;
    padding: 30px;
    width: 600px;
    max-width: calc(90% - 60px);
    margin: 0 auto;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 15px #e2e2e2;
}

button, input, textarea {
    border: 2px solid #e2e2e2;
    font-family: inherit;
    padding: 5px;
}

input, select, textarea {
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    height: 40px;
    max-width: 100% !important;
    padding: 0 10px;
}

input {
    line-height: 1em;
}

textarea {
    height: auto;
    max-width: 100% !important;
    padding: 2.4rem;
}

fieldset {
    border: 0;
    margin: 10px 0;
    padding: 20px;
}

legend {
    padding: 0 5px;
}

input[type="radio"] {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    margin: 0 5px 0 0;
    width: 15px;
}

input[type="checkbox"] {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    margin: 0 5px 0 0;
    width: 15px;
    height: 14px;
    line-height: 14px;
}

a.button, .button, .btn, button {
    @extend %button;
}

.button:active, .btn:active, button:active {
    box-shadow: 0 4px 17px #aaa;
    background: #38bed6;
    color: #fff;
}

.button:focus, .btn:focus, button:focus {
    box-shadow: 0 4px 17px #aaa;
    background: #38bed6;
    color: #fff;
}

input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus {
    box-shadow: 0 4px 17px #aaa;
    background: #38bed6;
    color: #fff;
}

.button.big {
    width: calc(100% - 20px);
}
.button.massive {
    padding: 20px 10px;
    width: calc(100% - 20px);
}

.button.green {
    @include greenGrad();
}

.button.red {
    @include redGrad();
}

.button.yellow {
    @include yellowGrad();
    width: calc(100% - 20px);
}

p.readmore a {
    padding-left: 20px;
    padding-right: 20px;
}

a.btn .icon-chevron-right {
    display: none;
}

@import '_menu.scss';
@import '_home.scss';
@import '_mediashop.scss';
@import '_changeable_icons.scss';

/*# sourceMappingURL=template.css.map */
