@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.eot");
  src: url("../font/icomoon.eot") format("embedded-opentype"), url("../font/icomoon.ttf") format("truetype"), url("../font/icomoon.woff") format("woff"), url("../font/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

ul.pagenav li.next a, ul.pagenav li.previous a, a.button, .button, .btn, button, input.mshop_button, button.mshop_button, #fcp_wrapper button, body.error #errorcontainer #error a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  background: #32a8bd;
  background: linear-gradient(135deg, #32a8bd 0%, #32bc6e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a8bd', endColorstr='#32bc6e',GradientType=1 );
  border-radius: 20px;
  border: none;
  min-width: 150px;
  text-align: center;
  -webkit-box-shadow: 0 2px 15px #d2d2d2;
          box-shadow: 0 2px 15px #d2d2d2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

ul.pagenav li.next a::before, ul.pagenav li.previous a::before, .button::before, .btn::before, button::before, input.mshop_button::before, button.mshop_button::before, #fcp_wrapper button::before, body.error #errorcontainer #error a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  color: #fff;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: width .4s ease, height .4s ease, left .4s ease, top .4s ease, border-radius .4s ease, background-color .4s ease;
  transition: width .4s ease, height .4s ease, left .4s ease, top .4s ease, border-radius .4s ease, background-color .4s ease;
}

ul.pagenav li.next a:hover, ul.pagenav li.previous a:hover, .button:hover, .btn:hover, button:hover, input.mshop_button:hover, #fcp_wrapper button:hover, body.error #errorcontainer #error a:hover {
  color: #fff;
  cursor: pointer;
}

ul.pagenav li.next a:hover::before, ul.pagenav li.previous a:hover::before, .button:hover::before, .btn:hover::before, button:hover::before, input.mshop_button:hover::before, #fcp_wrapper button:hover::before, body.error #errorcontainer #error a:hover::before {
  top: calc(50% - 100px);
  left: 0;
  width: 100%;
  height: 200px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

body {
  background: #f2f2f2;
  color: #545454;
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 50px;
  line-height: 1em !important;
  font-weight: bold;
}

h1 a {
  font-family: "Roboto Slab", sans-serif;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

h2 a {
  font-family: "Roboto Slab", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
}

h4 {
  font-size: 1.3em;
  font-weight: normal;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
}

h6 {
  font-size: 1.1em;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #BD4932;
  cursor: pointer;
  -webkit-transition: color 0.28s ease;
  transition: color 0.28s ease;
}

a:hover {
  color: #32a8bd;
}

p {
  line-height: 1.5em;
  font-size: 1em;
}

span.highlight {
  color: #BD4932;
}

@-webkit-keyframes rotateGrad {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 200% 0%;
  }
  50% {
    background-position: 200% 200%;
  }
  75% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes rotateGrad {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 200% 0%;
  }
  50% {
    background-position: 200% 200%;
  }
  75% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#header {
  padding: 0;
  margin: 0;
  background: transparent;
  line-height: 2em;
  margin: 0;
  max-width: 100%;
  position: relative;
}

#header.home {
  background: #bd4932;
  background: #bd4932;
  background: radial-gradient(ellipse at center, #bc327c 0%, #bd4932 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc327c', endColorstr='#bd4932',GradientType=1 );
  -webkit-animation-name: rotateGrad;
          animation-name: rotateGrad;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-size: 300% 300%;
  background-size: 300% 300%;
  animation-name: rotateGrad;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

#header .headerSVG {
  display: block;
  width: 100%;
  height: 8vw;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

@media (min-width: 770px) {
  #header.extendedheader {
    min-height: 100vh;
  }
}

@media (max-width: 769px) {
  #header.extendedheader {
    min-height: 100vh;
  }
}

.parallax-slider {
  background: #545454 url("../img/loading.gif") center no-repeat;
}

@media (min-width: 770px) {
  #header.extendedheader {
    text-shadow: 1px 1px 0px #212121;
    color: #fff;
  }
  #header.extendedheader a {
    text-shadow: 1px 1px 0px #212121;
    color: #fff;
  }
  #header.extendedheader #menu {
    background: transparent;
    width: 100%;
    z-index: 5;
  }
}

#title {
  margin: 0 auto;
  max-width: calc(100% - 100px);
  padding: 50px;
  padding-top: 100px;
}

#header h1 {
  color: #fff;
}

#header p {
  font-size: 1.2em;
  color: #fff;
  max-width: 400px;
}

img.scrollicon {
  opacity: 0.5;
}

#wrapper {
  width: 100%;
}

#mod1 {
  width: 100%;
  background: #f2f2f2;
}

#mod2 {
  width: 100%;
}

@media (max-width: 499px) {
  div.pull-quote {
    width: calc(100%);
    padding: 20px;
    background: #32a8bd;
    background: linear-gradient(135deg, #32a8bd 0%, #32bc6e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a8bd', endColorstr='#32bc6e',GradientType=1 );
    color: #fff;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 500px) {
  div.pull-quote {
    width: calc(100%);
    padding: 50px;
    background: #32a8bd;
    background: linear-gradient(135deg, #32a8bd 0%, #32bc6e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a8bd', endColorstr='#32bc6e',GradientType=1 );
    color: #fff;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 10px;
  }
}

div.pull-quote.red {
  background: #bd4932;
  background: linear-gradient(135deg, #bd4932 0%, #bc327c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd4932', endColorstr='#bc327c',GradientType=1 );
}

div.pull-quote.yellow {
  background: #dba43a;
  background: linear-gradient(135deg, #dba43a 0%, #d83a45 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dba43a', endColorstr='#d83a45',GradientType=1 );
}

@media (min-width: 902px) {
  div.pull-quote {
    border-radius: 20px;
  }
}

ul.breadcrumb {
  display: block;
  margin: 0 auto;
  max-width: 900px;
  list-style: none;
  background: #eeeeee;
  border-radius: 100px;
  padding: 0;
  font-size: 12px;
}

ul.breadcrumb li {
  display: inline-block;
  padding: 10px;
  list-style: none;
  list-style-type: none;
}

.fcp_wrapper {
  width: 100%;
}

#contentwrapper {
  width: 100%;
  background: #f2f2f2;
}

.blog section.product_intro .page-header {
  display: none;
}

@media (max-width: 499px) {
  #content {
    margin: 0 auto;
    max-width: calc(100% - 20px);
    padding: 20px;
  }
  ul.breadcrumb {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 799px) {
  #content {
    margin: 0 auto;
    max-width: calc(100% - 25px);
    padding: 50px;
  }
  ul.breadcrumb {
    display: none;
  }
}

@media (min-width: 800px) {
  #content {
    margin: 0 auto;
    max-width: calc(100% - 25px);
    padding: 50px 0;
  }
  .item-page {
    max-width: 900px;
    margin: 0 auto;
  }
  div.cols-3 {
    clear: both;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.cols-3 div.span4 {
    max-width: calc(33% - 50px);
    padding: 0 15px;
    margin: 0 10px 20px 10px;
    display: inline-block;
    float: left;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 15px #e2e2e2;
            box-shadow: 0 2px 15px #e2e2e2;
    background: #fff;
    text-align: center;
  }
  div.cols-2 {
    clear: both;
    overflow: auto;
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.cols-2 div.span6 {
    max-width: calc(50% - 50px);
    padding: 0 15px;
    margin: 0 10px 20px 10px;
    display: inline-block;
    float: left;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 15px #e2e2e2;
            box-shadow: 0 2px 15px #e2e2e2;
    background: #fff;
    text-align: center;
  }
  div.cols-1 {
    width: 900px;
    margin: 0 auto;
  }
}

#graph_container {
  display: none;
}

@media (min-width: 1660px) {
  #graph_container {
    display: block;
  }
  body.product section.product_intro {
    position: fixed;
    left: 0;
    width: 500px;
    top: 0;
    padding: 0 50px;
    padding-top: 74px;
    background-color: #fff;
    height: calc(100% - 74px);
  }
  body.product #header {
    z-index: 2;
    position: fixed;
  }
  body.product #wrapper {
    margin-left: 600px;
    width: calc(100% - 600px);
  }
  body.product #footer {
    margin-left: 600px;
    width: calc(100% - 660px);
  }
}

article, .span6, .span12 {
  margin-bottom: 100px;
}

div.items-leading > div {
  margin-bottom: 100px;
}

div.category-desc {
  margin-bottom: 150px;
}

#header h1, div.category-desc h1, h1.page-header a, div.item-page div.page-header h2, span.subheading-category {
  font-size: 72px;
  line-height: 72px;
}

h2.entry-title a, h2.name {
  font-size: 1em;
  font-size: 36px;
  line-height: 36px;
}

#content img {
  max-width: 100%;
}

@media (max-width: 499px) {
  #content img.featured {
    width: calc(100% + 40px);
    max-width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (min-width: 500px) {
  #content img.featured {
    width: 100%;
    /*width:calc(100% + 100px);
         max-width:calc(100% + 100px);
         margin-left:-50px;
         margin-right:-50px;*/
  }
}

@media (min-width: 500px) {
  #content img.lead {
    width: 100%;
    /*width:calc(100% + 100px);
         max-width:calc(100% + 100px);
         margin-left:-50px;
         margin-right:-50px;*/
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.28s ease;
    transition: -webkit-transform 0.28s ease;
    transition: transform 0.28s ease;
    transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  }
  #content img.lead:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

#features, #addons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 499px) {
  #content div.columns, #features .feature {
    display: block;
    background: #e2e2e2;
    padding: 1px 20px;
    margin-bottom: 20px;
    border-radius: 3px;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  #content div.columns, #features .feature {
    max-width: calc(48% - 40px);
    margin: 0 1.5% 20px 0;
    vertical-align: top;
    display: inline-block;
    background: #e2e2e2;
    padding: 0 20px;
    border-radius: 3px;
  }
}

@media (min-width: 768px) {
  #content div.columns, #features .feature {
    max-width: calc((100% / 3) - 10px);
    margin: 0 15px 15px 0;
    vertical-align: top;
    display: inline-block;
    background: #e2e2e2;
    padding: 0 20px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #content div.columns:nth-of-type(3), #content div.columns:nth-of-type(6), #content div.columns:nth-of-type(9), #content div.columns:nth-of-type(12), #features .feature:nth-of-type(3), #features .feature:nth-of-type(6), #features .feature:nth-of-type(9), #features .feature:nth-of-type(12) {
    margin: 0 0 15px 0;
  }
}

dl.article-info > * {
  display: inline-block;
  margin: 0 15px 0 0;
}

dt.article-info-term {
  display: none;
}

div.entry-meta, dl.article-info {
  padding: 10px 0;
  color: #aaa;
  font-size: 12px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;
}

div.entry-meta > span, div.entry-meta > time, div.entry-meta > ul {
  padding: 0 5px 0 0;
  display: inline-block;
  margin: 0;
}

div.entry-meta ul li {
  display: inline-block;
  margin-right: 5px;
}

div.content_rating {
  display: inline-block;
  margin-right: 5px;
  color: #aaa;
  font-size: 12px;
}

div.content_rating > * {
  display: inline-block;
  margin-right: 5px;
  color: #aaa;
  font-size: 12px;
}

span.content_vote {
  display: inline-block;
  margin-right: 5px;
  color: #aaa;
  font-size: 12px;
}

span.content_vote > * {
  display: inline-block;
  margin-right: 5px;
  color: #aaa;
  font-size: 12px;
}

div.content_rating + form {
  display: inline-block;
  margin-right: 5px;
  color: #aaa;
  font-size: 12px;
}

ul.pagenav {
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.pagenav li {
  list-style-type: none;
  display: inline-block;
}

ul.pagenav li.next {
  float: right;
}

ul.pagenav li.next a {
  min-width: auto;
  width: auto;
  color: #fff;
}

ul.pagenav li.previous a {
  min-width: auto;
  color: #fff;
}

div.pagination ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

div.pagination ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px;
}

div.pagination ul li:nth-child(1) {
  margin: 0 5px 0 0;
}

div.pagination ul li.pagination-next > *:after {
  content: "»";
}

div.pagination ul li.pagination-prev > *:before {
  content: "«";
}

#footer {
  background: transparent;
  width: calc(100% - 60px);
  padding: 30px;
  color: #aaa;
}

#footerwrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#footerwrapper p {
  padding: 0;
  margin: 0;
}

#footerwrapper h3 {
  color: #BD4932;
}

body.error {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}

#errorcontainer {
  width: 100%;
  height: 100%;
  padding: 60px 0;
}

#error {
  top: 60px;
  margin: 100px 30px;
  padding: 30px;
  width: 600px;
  max-width: calc(90% - 60px);
  margin: 0 auto;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 15px #e2e2e2;
          box-shadow: 0 2px 15px #e2e2e2;
}

button, input, textarea {
  font-family: inherit;
  padding: 5px;
}

input, select, textarea {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  height: 40px;
  max-width: 100% !important;
  padding: 0 10px;
}

input {
  line-height: 1em;
}

textarea {
  height: auto;
  max-width: 100% !important;
  padding: 2.4rem;
}

fieldset {
  border: 0;
  margin: 10px 0;
  padding: 20px;
}

legend {
  padding: 0 5px;
}

input[type="radio"] {
  display: inline-block;
  height: 15px;
  line-height: 15px;
  margin: 0 5px 0 0;
  width: 15px;
}

input[type="checkbox"] {
  display: inline-block;
  height: 15px;
  line-height: 15px;
  margin: 0 5px 0 0;
  width: 15px;
  height: 14px;
  line-height: 14px;
}

.button:active, .btn:active, button:active {
  -webkit-box-shadow: 0 4px 17px #aaa;
          box-shadow: 0 4px 17px #aaa;
  background: #38bed6;
  color: #fff;
}

.button:focus, .btn:focus, button:focus {
  -webkit-box-shadow: 0 4px 17px #aaa;
          box-shadow: 0 4px 17px #aaa;
  background: #38bed6;
  color: #fff;
}

input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus {
  -webkit-box-shadow: 0 4px 17px #aaa;
          box-shadow: 0 4px 17px #aaa;
  background: #38bed6;
  color: #fff;
}

.button.big {
  width: calc(100% - 20px);
}

.button.massive {
  padding: 20px 10px;
  width: calc(100% - 20px);
}

.button.green {
  background: #32bd53;
  background: linear-gradient(135deg, #32bd53 5%, #75bc32 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32bd53', endColorstr='#75bc32',GradientType=1 );
}

.button.red {
  background: #bd4932;
  background: linear-gradient(135deg, #bd4932 0%, #bc327c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd4932', endColorstr='#bc327c',GradientType=1 );
}

.button.yellow {
  background: #dba43a;
  background: linear-gradient(135deg, #dba43a 0%, #d83a45 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dba43a', endColorstr='#d83a45',GradientType=1 );
  width: calc(100% - 20px);
}

p.readmore a {
  padding-left: 20px;
  padding-right: 20px;
}

a.btn .icon-chevron-right {
  display: none;
}

@media (min-width: 770px) {
  /* bigger than mobile */
  #menubutton, #closebutton, #overlay {
    display: none;
  }
  #menu {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    min-height: 68px;
  }
  #menu * {
    -webkit-transition: border 0.28s ease, color 0.28s ease;
    transition: border 0.28s ease, color 0.28s ease;
  }
  #menu .moduletable {
    display: inline-block;
  }
  a.menuhomelink {
    -webkit-transition: background-color 0.28s ease !important;
    transition: background-color 0.28s ease !important;
  }
  a.menuhomelink img {
    display: inline-block;
  }
  a.menuhomelink:hover {
    background: #32a8bd;
  }
  #menu ul li a.menuhomelink img {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
  }
  #menu ul {
    margin: 0;
    padding: 0;
  }
  #menu ul li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    position: relative;
    border-top: 3px solid transparent;
    -webkit-transition: border-top 0.28s ease;
    transition: border-top 0.28s ease;
    top: 0;
  }
  #menu ul li:hover {
    border-top: 3px solid #32a8bd !important;
  }
  #menu ul li a {
    padding: 0 15px;
    margin: 0;
    display: inline-block;
    color: #545454;
    line-height: 65px;
    font-weight: bold;
  }
  #menu ul li a img {
    display: none;
  }
  #menu ul li.current, #menu ul li.active {
    border-top: 3px solid #BD4932;
  }
  #menu ul li.current .menuhomelink, #menu ul li.active .menuhomelink {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 10px 0;
  }
  #menu ul li.current a {
    color: #BD4932;
  }
  #menu ul li:hover a {
    color: #32a8bd;
  }
  /* child menu items */
  #menu ul li ul {
    position: absolute;
    -webkit-transition: opacity 0.28s ease, -webkit-transform 0.28s cubic-bezier(0.37, 0, 0.14, 1.2);
    transition: opacity 0.28s ease, -webkit-transform 0.28s cubic-bezier(0.37, 0, 0.14, 1.2);
    transition: transform 0.28s cubic-bezier(0.37, 0, 0.14, 1.2), opacity 0.28s ease;
    transition: transform 0.28s cubic-bezier(0.37, 0, 0.14, 1.2), opacity 0.28s ease, -webkit-transform 0.28s cubic-bezier(0.37, 0, 0.14, 1.2);
    opacity: 0;
    margin: 0 auto;
    z-index: 9999;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    min-width: 250px;
    -webkit-transform: scale(0) translateZ(0);
            transform: scale(0) translateZ(0);
  }
  #menu ul li:hover ul {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  #menu ul li ul li {
    background: #212121;
    color: #fff !important;
    display: block;
    border: none !important;
    position: relative;
    border-radius: 0;
  }
  #menu ul li ul li img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  #menu ul li ul li.active {
    border: none;
    border-left: #545454 solid 3px;
    background: #bd4932;
    background: linear-gradient(135deg, #bd4932 0%, #bc327c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd4932', endColorstr='#bc327c',GradientType=1 );
  }
  #menu ul li ul li:hover {
    border: none !important;
    background: #32a8bd;
    background: linear-gradient(135deg, #32a8bd 0%, #32bc6e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a8bd', endColorstr='#32bc6e',GradientType=1 );
  }
  #menu ul li ul li a {
    color: #ffffff !important;
    padding: 15px;
    line-height: normal;
    border-bottom: 0 !important;
    width: calc(100% - 30px);
  }
  #menu ul li ul li.current a {
    border-bottom: 0 !important;
    color: #212121;
    font-weight: bold;
  }
  #menu ul li ul li:hover a {
    border-bottom: 0;
  }
  #menu ul li.expanded ul {
    display: none;
  }
  #menu ul li ul li ul {
    display: none !important;
    /* hidden by default */
  }
}

@media (max-width: 769px) {
  /* mobile */
  /* slide out menu */
  #menubutton {
    position: fixed;
    padding: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 999;
    margin: 5px;
    border-radius: 100%;
    background-color: #fff;
    right: 0;
  }
  #menu {
    position: fixed;
    width: 0;
    height: 0;
    margin-left: 0;
    margin-top: 0;
    background: #32a8bd;
    background: radial-gradient(ellipse at center, #32bc6e 0%, #32a8bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32bc6e', endColorstr='#32a8bd',GradientType=1 );
    -webkit-animation-name: rotateGrad;
            animation-name: rotateGrad;
    -webkit-animation-duration: 60s;
            animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    background-size: 300% 300%;
    z-index: 998;
    -webkit-transition: all 0.28s ease-in;
    transition: all 0.28s ease-in;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0 50vh 50vh 0;
    -webkit-transition: all 0.28s ease-out 0.28s, border-radius 0.28s ease-in;
    transition: all 0.28s ease-out 0.28s, border-radius 0.28s ease-in;
    background-size: 300% 300%;
    animation-name: rotateGrad;
    animation-duration: 60s;
    animation-iteration-count: infinite;
  }
  #menu.open {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    -webkit-transition: all 0.28s ease-in, border-radius 0.28s ease-out 0.28s;
    transition: all 0.28s ease-in, border-radius 0.28s ease-out 0.28s;
  }
  #overlay {
    display: none;
    background: transparent;
    opacity: 0.8;
    position: fixed;
    height: 110%;
    width: 110%;
    margin: 0;
    padding: 0;
    z-index: 997;
    overflow: hidden;
  }
  #menu ul {
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    -webkit-transition: opacity 0.28s ease-in 0s, -webkit-transform 0.28s ease-in 0s;
    transition: opacity 0.28s ease-in 0s, -webkit-transform 0.28s ease-in 0s;
    transition: opacity 0.28s ease-in 0s, transform 0.28s ease-in 0s;
    transition: opacity 0.28s ease-in 0s, transform 0.28s ease-in 0s, -webkit-transform 0.28s ease-in 0s;
  }
  #menu.open ul {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity 0.56s ease-out, -webkit-transform 0.56s ease-out;
    transition: opacity 0.56s ease-out, -webkit-transform 0.56s ease-out;
    transition: opacity 0.56s ease-out, transform 0.56s ease-out;
    transition: opacity 0.56s ease-out, transform 0.56s ease-out, -webkit-transform 0.56s ease-out;
  }
  #menu ul * {
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    margin: 0 auto;
    max-width: 80%;
  }
  #menu ul li {
    list-style-type: none;
    display: inline-block;
    width: 50%;
  }
  #menu ul li.default {
    display: block;
    width: 100%;
  }
  #menu ul li a {
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: 300;
    display: inline-block;
    color: #fff;
    border-radius: 300px;
  }
  #menu ul li a.menuhomelink {
    width: 100%;
  }
  #menu ul li a.menuhomelink img {
    height: auto;
  }
  #menu ul li a:not(.menuhomelink) img {
    display: block;
    width: 50%;
  }
  #menu ul li a span {
    line-height: 1.2;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    display: block;
    margin-top: 10px;
    border-radius: 20px;
    width: auto;
  }
  #menu ul li a:hover {
    background: transparent;
  }
  #menu ul li.current {
    color: #fff;
  }
  #menu ul li.current a {
    color: #fff;
  }
  #menu ul li ul li a {
    padding-left: 50px;
  }
  #menu ul li.current ul li a {
    font-weight: 300;
  }
  #menu ul li ul li a:before {
    content: "- ";
  }
  #menu ul li ul {
    height: 0;
    overflow: hidden;
  }
  #menu ul li.expanded ul {
    height: auto;
  }
  #menu .expandbutton {
    display: none;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  #menu .expandbutton:focus {
    outline: 0;
  }
  #menu .expandbuttoninner {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    background: #e2e2e2 url("../img/expand.png") center no-repeat;
    padding: 0;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
  }
  #menu .expandbutton.flipped {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

body.home #fullpage .rc_onepage_section.yellow {
  background: #32a8bd;
  background: radial-gradient(ellipse at center, #d83a45 0%, #dba43a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d83a45', endColorstr='#dba43a',GradientType=1 );
  -webkit-animation-name: rotateGrad;
          animation-name: rotateGrad;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-size: 300% 300%;
}

body.home #fullpage .rc_onepage_section.red {
  background: #bd4932;
  background: radial-gradient(ellipse at center, #bc327c 0%, #bd4932 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc327c', endColorstr='#bd4932',GradientType=1 );
  -webkit-animation-name: rotateGrad;
          animation-name: rotateGrad;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-size: 300% 300%;
}

body.home #fullpage .rc_onepage_section.blue {
  background: #32a8bd;
  background: radial-gradient(ellipse at center, #32bc6e 0%, #32a8bd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32bc6e', endColorstr='#32a8bd',GradientType=1 );
  -webkit-animation-name: rotateGrad;
          animation-name: rotateGrad;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-size: 300% 300%;
}

body.home #fullpage .rc_onepage_section.green {
  background: #32a8bd;
  background: radial-gradient(ellipse at center, #d83a45 0%, #dba43a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d83a45', endColorstr='#dba43a',GradientType=1 );
  -webkit-animation-name: rotateGrad;
          animation-name: rotateGrad;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-size: 300% 300%;
}

body.home #header {
  background: #bd4932;
  background: radial-gradient(ellipse at center, #bc327c 0%, #bd4932 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc327c', endColorstr='#bd4932',GradientType=1 );
  -webkit-animation-name: rotateGrad;
          animation-name: rotateGrad;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-size: 300% 300%;
  overflow: hidden;
}

@media (max-width: 1000px) {
  body.home .rc_crazytext {
    width: 100%;
  }
  body.home .rc_crazytext h1 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 4em !important;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  body.home .rc_crazytext {
    width: 100%;
  }
  body.home .rc_crazytext h1 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 7em !important;
    text-align: left;
  }
}

body.home a {
  color: #fff;
  font-weight: bold;
}

body.home a:hover {
  color: #212121;
}

body.home [class^="icon-"], body.home [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.home .icon-twitter:before {
  content: "\ea96";
}

body.home .icon-github:before {
  content: "\eab0";
}

body.home body {
  padding: 0;
  margin: 0;
  background: #151515;
}

body.home #wrapper {
  background: #151515;
}

body.home #contentwrapper, body.home #footer {
  display: none;
}

body.home div.rc_onepage_section {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  overflow-x: hidden;
}

body.home div.rc_onepage_section_inner {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  overflow-x: visible;
}

@media (min-width: 770px) {
  body.home {
    /* bigger than mobile */
  }
  body.home div.rc_onepage_slider {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-left: 10%;
    margin: 0;
    padding: 0;
    -webkit-transition: all 1s cubic-bezier(0.37, 0, 0.14, 1.2);
    transition: all 1s cubic-bezier(0.37, 0, 0.14, 1.2);
    opacity: 0;
  }
  body.home div.rc_onepage_slider:nth-child(odd) {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    text-align: left;
  }
  body.home div.rc_onepage_slider:nth-child(even) {
    -webkit-transform: translateX(500px) translatez(0);
            transform: translateX(500px) translatez(0);
    text-align: right;
  }
  body.home div.rc_onepage_slider_in {
    opacity: 1;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
  body.home div.rc_onepage_slider_in:nth-child(even) {
    -webkit-transform: translateX(0) rotate(-5deg) !important;
            transform: translateX(0) rotate(-5deg) !important;
  }
  body.home div.rc_onepage_slider img {
    max-width: 80%;
  }
  body.home div.rc_onepage_slider p {
    max-width: 450px;
  }
}

@media (max-width: 769px) {
  body.home {
    /* mobile */
  }
  body.home div.rc_onepage_slider {
    display: block;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    -webkit-transition: all 1s cubic-bezier(0.37, 0, 0.14, 1.2);
    transition: all 1s cubic-bezier(0.37, 0, 0.14, 1.2);
    opacity: 0;
  }
  body.home div.rc_onepage_slider:nth-child(odd) {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    text-align: center;
  }
  body.home div.rc_onepage_slider:nth-child(even) {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    text-align: center;
  }
  body.home div.rc_onepage_slider_in {
    opacity: 1;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
  body.home div.rc_onepage_slider_in:nth-child(odd) {
    opacity: 1;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
  body.home div.rc_onepage_slider img {
    max-width: 80%;
  }
}

body.home div.rc_skill_container {
  display: inline-block;
  max-width: 100%;
  width: 120px;
  height: 120px;
  background: #ffffff10;
  padding: 10px;
  border-radius: 100%;
  -webkit-transition: all 0.28s cubic-bezier(0.37, 0, 0.14, 2);
  transition: all 0.28s cubic-bezier(0.37, 0, 0.14, 2);
  margin: 10px;
  position: relative;
  -webkit-transform: translateZ(0) translateX(var(--animation-x)) translateY(var(--animation-y));
          transform: translateZ(0) translateX(var(--animation-x)) translateY(var(--animation-y));
}

body.home img.rc_skill {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

body.home div.rc_skill_container:hover {
  -webkit-transform: scale(1.5, 1.5) rotate(5deg);
          transform: scale(1.5, 1.5) rotate(5deg);
  background: #fff;
  -webkit-transition: all 0.28s cubic-bezier(0.37, 0, 0.14, 5);
  transition: all 0.28s cubic-bezier(0.37, 0, 0.14, 5);
}

body.home .anim {
  -webkit-perspective: 750px;
          perspective: 750px;
  position: absolute;
  height: auto;
  width: 80vw;
  left: 10vw;
  top: 10vh;
}

body.home .anim svg {
  -webkit-transform: rotateY(-45deg) rotateX(45deg) translateX(45px) translateY(45px);
          transform: rotateY(-45deg) rotateX(45deg) translateX(45px) translateY(45px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  opacity: 0.1;
  max-width: 100%;
}

div.mshop {
  max-width: 900px;
  margin: 0 auto;
  background: #f2f2f2;
  padding: 25px;
  text-align: center;
  border-radius: 3px;
}

div.msgroup_leading {
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
  padding: 25px;
  text-align: center;
  max-width: calc(100% - 50px);
  margin-bottom: 20px;
}

div.msgroup_intro_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 770px) {
  /* mobile */
  div.msgroup_intro {
    display: block;
    margin: 0 10px;
    max-width: calc(100% - 72px);
    background: #fff;
    border-radius: 3px;
    padding: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 770px) {
  /* bigger than mobile */
  div.msgroup_intro {
    display: inline-block;
    margin: 0 10px;
    max-width: calc(50% - 72px);
    vertical-align: top;
    background: #fff;
    border-radius: 3px;
    padding: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
}

div.msp_panel {
  display: inline-block;
  margin: 5px;
}

div.ms_dlb form {
  display: inline-block;
}

div.ms_bnb form {
  display: inline-block;
}

div.mspayline {
  clear: left;
  margin: 2em;
  text-align: center;
}

div.mspayline span {
  display: block;
  vertical-align: top;
  text-align: right;
  width: 50em;
  max-width: 50%;
  margin-right: 3em;
}

div.mspayline form {
  display: block;
  vertical-align: top;
  margin: 0 auto;
}

input.mshop_button {
  width: calc(100% - 20px);
  line-height: 1.5em;
}

button.mshop_button {
  background: #bd4932;
  background: linear-gradient(135deg, #bd4932 0%, #bc327c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd4932', endColorstr='#bc327c',GradientType=1 );
  width: calc(100% - 20px);
  line-height: 1.5em;
}

input.mshop_button:disabled {
  opacity: 0.5;
  border: none;
  cursor: default;
}

input.buy_now_btn:disabled {
  opacity: 0.5;
  border: none;
  cursor: default;
}

input.buy_now_btn {
  border: 0;
  margin: 0 auto;
  text-align: center;
}

.ms_price_table {
  background: #fff;
  border-radius: 3px;
}

.ms_price_table,
.ms_price_table th,
.ms_price_table td {
  border-collapse: collapse;
  border: 1px solid #E7E3E3;
  padding: 8px;
  margin: 0 auto;
}

.ms_list_table {
  border-collapse: collapse;
  margin-top: 12px;
  padding: 12px;
}

.ms_list_table tr {
  border: 1px solid #E7E3E3;
}

.ms_list_table td {
  padding: 5px;
}

tr.ms_prodsep {
  border: none;
}

tr.ms_prodsep td {
  padding-top: 2px;
}

tr.ms_prodsep span.ms_prodsep_name {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  color: #4A7194;
}

.ms_form label {
  display: inline-block;
  width: 10em;
  margin-right: 1em;
}

@media screen and (max-width: 500px) {
  div.mspayline span {
    display: block;
    text-align: left;
    max-width: 100%;
  }
  div.mspayline {
    text-align: center;
  }
  td.mslt_icon {
    display: none;
  }
  .ms_form label {
    display: block;
    text-align: left;
    width: auto;
    max-width: 90%;
  }
}

.mshop .ms_panel {
  padding: 25px;
  background: #fff;
  border-radius: 3px;
  max-width: 600px;
  margin: 0 auto;
}

.ms_panel {
  text-align: center;
  background-color: transparent;
  margin: 6px 0 6px 6px;
}

.ms_panel select {
  margin: 0 auto;
  width: auto;
  display: block;
  margin-bottom: 10px;
  background-color: #f2f2f2;
}

.ms_panel select:focus {
  background-color: #fff;
}

.ms_version {
  margin-bottom: 15px;
}

.ms_message {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ms_division {
  clear: both;
}

.ms_product_name {
  clear: both;
  margin: 4px 0 4px 0;
  font-size: 2em;
  font-weight: bold;
}

.ms_version_heading {
  display: block;
  font: 12px verdana, arial, sans-serif;
  letter-spacing: normal;
  padding: 10px;
}

.ms_icon_heading {
  display: inline;
  vertical-align: text-bottom;
  padding-left: 5px;
  padding-right: 10px;
}

.ms_pagination {
  clear: both;
  display: table;
  margin: 0 auto;
  padding-top: 10px;
}

.ms_error {
  font-weight: bold;
  color: red;
  margin: 5px 0 0 5px;
}

.ms_notok {
  background: url("notok.gif") no-repeat left center;
  min-height: 36px;
  font-weight: bold;
  margin: 20px 0 20px 5px;
  padding-left: 48px;
}

.ms_ok {
  background: url("ok.gif") no-repeat left center;
  min-height: 36px;
  font-weight: bold;
  margin: 20px 0 20px 5px;
  padding-left: 48px;
}

/* invoice */
.ms_invoice_link {
  text-align: center;
  margin: 6px;
}

.ms_invoice_link span {
  padding: 6px;
  border: 2px solid #000080;
}

.ms_invoice {
  font-family: Arial;
}

.ms_invoice h1 {
  font-size: 36px;
  font-weight: bold;
  color: #7E7C7C;
  text-align: center;
  margin: 0;
}

.ms_invoice h2 {
  font-size: 20px;
  font-weight: bold;
  color: #444444;
}

.ms_invoice table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
}

.ms_invoice table tr {
  background-color: #FAFAFA;
}

.ms_invoice table th {
  border: 1px solid #444444;
  padding: 4px;
}

.ms_invoice table td {
  border: 1px solid #444444;
  padding: 4px;
}

div.changeable_icon_container {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 10px;
  /* menu */
  /* close */
}

div.changeable_icon_container div.changeable_icon {
  background: #212121;
  position: absolute;
  -webkit-transition: all 0.28s cubic-bezier(0.37, 0, 0.14, 1.5);
  transition: all 0.28s cubic-bezier(0.37, 0, 0.14, 1.5);
  border-radius: 3px;
}

div.changeable_icon_container div.changeable_icon::before {
  content: " ";
  background: #212121;
  position: absolute;
  -webkit-transition: all 0.28s cubic-bezier(0.37, 0, 0.14, 1.5);
  transition: all 0.28s cubic-bezier(0.37, 0, 0.14, 1.5);
  border-radius: inherit;
}

div.changeable_icon_container div.changeable_icon::after {
  content: " ";
  background: #212121;
  position: absolute;
  border-radius: inherit;
  -webkit-transition: all 0.28s cubic-bezier(0.37, 0, 0.14, 1.5);
  transition: all 0.28s cubic-bezier(0.37, 0, 0.14, 1.5);
}

div.changeable_icon_container div.changeable_menu_icon {
  width: 80%;
  height: 10%;
  top: 20%;
  left: 10%;
  -webkit-transform: rotate(0deg) translateZ(0);
          transform: rotate(0deg) translateZ(0);
  background: #212121;
}

div.changeable_icon_container div.changeable_menu_icon::before {
  width: 100%;
  height: 100%;
  top: 250%;
  left: 0;
  -webkit-transform: rotate(0deg) translateZ(0);
          transform: rotate(0deg) translateZ(0);
  background: #212121;
}

div.changeable_icon_container div.changeable_menu_icon::after {
  width: 100%;
  height: 100%;
  top: 525%;
  left: 0;
  -webkit-transform: rotate(0deg) translateZ(0);
          transform: rotate(0deg) translateZ(0);
  background: #212121;
}

div.changeable_icon_container div.changeable_close_icon {
  width: 100%;
  height: 10%;
  -webkit-transform: rotate(45deg) translateZ(0);
          transform: rotate(45deg) translateZ(0);
  top: 42.5%;
  left: 0;
}

div.changeable_icon_container div.changeable_close_icon::before {
  width: 16%;
  height: 80%;
  -webkit-transform: rotate(-45deg) translateZ(0);
          transform: rotate(-45deg) translateZ(0);
  top: 40%;
  left: 40%;
}

div.changeable_icon_container div.changeable_close_icon::after {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  -webkit-transform: rotate(-90deg) translateZ(0);
          transform: rotate(-90deg) translateZ(0);
}

#fcp_wrapper {
  background: #bd4932;
  background: linear-gradient(135deg, #bd4932 0%, #bc327c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd4932', endColorstr='#bc327c',GradientType=1 );
  color: #fff;
}

@media (min-width: 500px) {
  #fcp_wrapper {
    width: calc(100% - 100px);
    padding: 50px;
    border-radius: 20px;
  }
}

@media (max-width: 499px) {
  #fcp_wrapper {
    width: 100%;
    padding: 20px;
    border-radius: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 10px;
  }
}

#fcp_wrapper label {
  font-size: 16px;
  line-height: 1.1;
  font-family: 'Roboto Condensed', 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#fcp_wrapper label .fcp_focus {
  color: #fff;
}

#fcp_wrapper div.fcp_line label.fcp_focus {
  color: #fff;
}

#fcp_wrapper select, #fcp_wrapper input:not([type="checkbox"]):not([type="submit"]), #fcp_wrapper textarea {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 18px;
}

#fcp_wrapper select:focus, #fcp_wrapper input:not([type="checkbox"]):not([type="submit"]):focus, #fcp_wrapper textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#fcp_wrapper select.fcp_error_field, #fcp_wrapper input:not([type="checkbox"]):not([type="submit"]).fcp_error_field, #fcp_wrapper textarea.fcp_error_field {
  background: #fff !important;
  color: #BD4932 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#fcp_wrapper select option {
  background: #fff;
  color: #545454;
}

#fcp_wrapper button {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#fcp_wrapper .g-recaptcha {
  max-width: 100%;
}

#fcp_wrapper .g-recaptcha div {
  max-width: 100%;
}

#fcp_wrapper .g-recaptcha div iframe {
  max-width: 100%;
}

.blogportfolio {
  text-align: center;
}

.blogportfolio .cols-1 {
  width: 600px;
  max-width: 100%;
  display: inline-block;
  text-align: left;
}

@media (min-width: 500px) {
  .blogportfolio .cols-1 {
    padding: 20px;
  }
}

.blogportfolio .cols-1 .span12 {
  margin: 0;
}

.blogportfolio .cols-1 .page-header h2 {
  margin: 5px;
  width: 100%;
}

.blogportfolio .cols-1 .page-header h2 a {
  line-height: 1.5;
  color: #545454;
  display: block;
}

.blogportfolio .cols-1 .item-image {
  overflow: hidden;
  border-radius: 3px;
}

.blogportfolio .cols-1 .item-image img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.56s ease;
  transition: -webkit-transform 0.56s ease;
  transition: transform 0.56s ease;
  transition: transform 0.56s ease, -webkit-transform 0.56s ease;
  display: block;
  background-color: #000;
}

.blogportfolio .cols-1:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body.error {
  background: #bd4932;
  background: radial-gradient(ellipse at center, #bc327c 0%, #bd4932 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc327c', endColorstr='#bd4932',GradientType=1 );
  -webkit-animation-name: rotateGrad;
          animation-name: rotateGrad;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-size: 300% 300%;
  min-height: 100vh;
  width: 100%;
}

body.error #errorcontainer {
  background: transparent;
  width: 100%;
}

body.error #errorcontainer #error {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  width: auto;
}

body.error #errorcontainer #error h1 {
  text-align: center;
  line-height: 1;
  margin: 0;
}

@media (max-width: 799px) {
  body.error #errorcontainer #error h1 {
    font-size: 5em;
  }
}

@media (min-width: 800px) {
  body.error #errorcontainer #error h1 {
    font-size: 15em;
  }
}

body.error #errorcontainer #error h2 {
  line-height: 1;
}

body.error #errorcontainer #error a {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=template.css.map */