#bottom-tabs {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--colour-bg);

    @media (min-width: 1660px) {
        margin-left: 600px;
        width: calc(100% - 600px);
    }

    .custom {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        height: 100%;
        display: flex;

        a {
            flex: 1;
            text-align: center;
            padding: 15px 0;
            color: var(--colour-fg);
            font-size: .8rem;
            color: var(--colour-fg);
            transition: background-color .28s ease;

            &:hover {
                @media (pointer: fine) {
                    background-color: $red;
                }

                i {
                    font-size: 1.5rem;
                }
            }

            @media (prefers-color-scheme: dark) {
                color: var(--colour-fg);
            }

            i {
                display: block;
                font-size: 1rem;
                transition: font-size .28s ease;
                line-height: 1.5rem;
            }
        }
    }
}
