// colours
$red: #BD4932;
$red_lighter: #D65238;

$blue: #32a8bd;
$blue_lighter: #38bed6;

$green: #32bd53;
$green_lighter: #38d65d;

$yellow: #dba43a;
$yellow_lighter: #f5b540;

$white: #fff;
$bg: #f2f2f2;

:root {
    --colour-bg: #ffffff;
    --colour-elevated-bg: #f4f4f2;
    --colour-fg: #1f2938;
    --colour-border: #1f2938;
    --colour-link: #0066ff;

    body:not(.no-dark),
    body:not(.no-dark) * {
        @media (prefers-color-scheme: dark) {
            --colour-bg: #1f2938;
            --colour-elevated-bg: #283548;
            --colour-fg: #e2e2e2;
            --colour-border: #e2e2e2;
            --colour-link: #0066ff;
        }
    }
}

@mixin glass() {
    background: rgba(255, 255, 255, .9);

    @media (prefers-color-scheme: dark) {
        background: rgba(0, 0, 0, .9);
    }

    @supports (backdrop-filter: blur(50px)) {
        background: rgba(255, 255, 255, .5);
        backdrop-filter: blur(50px);

        @media (prefers-color-scheme: dark) {
            background: rgba(0, 0, 0, .5);
            backdrop-filter: blur(50px);
        }
    }
}
