// colours
$red: #BD4932;
$red_lighter: #D65238;

$blue: #32a8bd;
$blue_lighter: #38bed6;

$green: #32bd53;
$green_lighter: #38d65d;

$yellow: #dba43a;
$yellow_lighter: #f5b540;

$white: #fff;
$bg: #f2f2f2;
$breadcrumb_bg: #eeeeee;
$footer_bg: #e2e2e2;
$text_colour: #545454;