body * {
    transition: color .28s linear;
}

body {
    background-color: var(--colour-bg);
    color: var(--colour-fg);

    #menu ul li a,
    .blogportfolio .cols-1 .page-header h2 a {
        color: var(--colour-fg);
    }

    #contentwrapper {
        background-color: var(--colour-bg);
    }

    .mshop .ms_panel select {
        background-color: var(--colour-bg);
        color: var(--colour-fg);
        border: none;
    }

    ul.breadcrumb,
    #content div.columns,
    div.cols-2 div.span6,
    .msgroup_leading,
    .msgroup_intro,
    .mshop .ms_panel,
    .ms_price_table {
        background-color: var(--colour-elevated-bg);
    }

    .ms_price_table {
        th,
        td {
            border-color: var(--colour-border);
        }
    }

    &.product section.product_intro {
        @media (min-width: 1660px) {
            background-color: var(--colour-elevated-bg);
        }
    }
}
