$dark_bg: #212121;
$dark_card_bg: #313131;
$dark_text_color: #fff;

body * {
    transition: color .28s linear;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark_bg;
        color: $dark_text_color;

        #menu ul li a,
        .blogportfolio .cols-1 .page-header h2 a {
            color: $dark_text_color;
        }

        #contentwrapper {
            background-color: $dark_bg;
        }

        .mshop .ms_panel select {
            background-color: $dark_bg;
            color: $dark_text_color;
            border: none;
        }

        ul.breadcrumb,
        #content div.columns,
        #features div.feature,
        div.cols-2 div.span6,
        .msgroup_leading,
        .msgroup_intro,
        .mshop .ms_panel {
            background-color: $dark_card_bg;
        }

        &.product section.product_intro {
            @media (min-width: 1660px) {
                background-color: $dark_card_bg;
            }
        }
    }
}
