.blogportfolio {
    text-align: center;

    .cols-1 {
        position: relative;
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;
        vertical-align: top;

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }

        .item {
            width: 90vw;
            max-width: 100%;
            padding-bottom: 20vh;
            margin: 0 auto;

            @media (min-width: 1024px) {
                width: 60vw;
            }

            .page-header {
                transition: .56s ease;
                transform: translateY(100px);

                &.show {
                    transform: none;
                }

                @media (min-width: 1024px) {
                    padding: 20px;
                }

                h2 {
                    a {
                        display: block;
                        line-height: 1.2;

                        @media (min-width: 1024px) {
                            font-size: 1.5em;
                        }
                    }
                }
            }

            .item-image {
                overflow: hidden;
                border-radius: 30px;
                transition: .56s ease;
                transform: translateY(100px);

                &.show {
                    transform: none;
                }

                img {
                    width: 100%;
                    // transform: scale(1.2);
                    transition:
                        transform 0.56s ease-out
                    ;
                    display: block;
                    background-color: #000;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .span12 {
            margin: 0;
        }
    }
}
