// font stacks

@font-face {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Regular Regular'), url('../font/SamsungSharpSansRegular-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: bold;
    src: local('SamsungSharpSans-Bold'), url('../font/samsung_s_sharp_by_629lyric-d8y77l9.woff') format('woff');
}

$font_headings: 'Sharp Sans', sans-serif;
$font_condensed: 'Sharp Sans', sans-serif;
$font_main: 'Roboto', sans-serif;

body {
    color: #545454;
    font-family: $font_main;
    font-size: 16px;
}

h1 {
    font-family: $font_headings;
    font-size: 50px;
    line-height: 1em !important;
    font-weight: bold;
}

h1 a {
    font-family: $font_headings;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-family: $font_headings;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

h2 a {
    font-family: $font_headings;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

h3 {
    font-family: $font_headings;
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    font-size: 1.3em;
    font-weight: bold;
}

h5 {
    font-size: 1.2em;
    font-weight: bold;
}

h6 {
    font-size: 1.1em;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: $red;
    cursor: pointer;
    transition: color 0.28s ease;
}

a:hover {
    color: $blue;
}

p {
    line-height: 1.5em;
    font-size: 1em;
}
